@model AuthorViewModel

<ej-date-picker id="datepicker" ej-for="@Model.Modified" date-format="dd/MM/yyyy"></ej-date-picker>

<a asp-controller="Home" asp-action="Controls2">Przejdz na kolejny ekran</a>
